{% extends 'base.html.twig' %}

{% block title %}Liste de candidat{% endblock %}

{% block body %}
    <h1>Liste de candidat</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Niveau</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.nom }}</td>
                <td>{{ candidat.prenom }}</td>
                <td>{{ candidat.age }}</td>
                <td>{{ candidat.niveau }}</td>
                <td>
                    <a href="{{ path('candidat_show', {'id': candidat.id}) }}">Liste</a>
                    <a href="{{ path('candidat_edit', {'id': candidat.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidat_new') }}">Ajouter un nouveau candidat</a>
{% endblock %}
